<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sampleawsupload</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.aws.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>welcomeservlet</display-name>
    <servlet-name>welcomeservlet</servlet-name>
    <servlet-class>com.aws.servlet.welcomeservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcomeservlet</servlet-name>
    <url-pattern>/welcomeservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Downloadservlet</display-name>
    <servlet-name>Downloadservlet</servlet-name>
    <servlet-class>com.aws.servlet.Downloadservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Downloadservlet</servlet-name>
    <url-pattern>/downloadservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.jmetergraphs.model</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey-serlvet</servlet-name>
    <url-pattern>/infotreerest/*</url-pattern>
  </servlet-mapping>
</web-app>